.title{
    text-align:center;
}
.weaponPics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.playerPics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.runningScore{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}